/target/
.settings/*
.project
.classpath
*.iml
.checkstyle
.apt_generated/
.apt_generated_test/
bin/
/**/WEB-INF/classes
.factorypath
.metadata
tmp/
.idea
.DS_Store
__pycache__/
*.py[cod]

data
README.pdf
README_tmp.html